* ,*:before, *:after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
ul,li,a{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
}

HTML{
    font-size:62.5%;
}
body{
    font-size:1rem;
}

/*text-size*/

h1{
    font-size:6.4em;
    font-family: 'Roboto Mono', monospace;
    color:rgba(255,255,255,0.8);
    font-weight:normal;
    text-transform:capitalize;
    margin:0;
}

h2{
    font-size:5.2em;
    font-family: 'Roboto Mono', monospace;
    color:rgba(255,255,255,0.8);
    font-weight:normal;
    text-transform:capitalize;
    margin:0;
}

h3{
    font-size:4.8em;
    font-family: 'Roboto Mono', monospace;
    color:rgba(255,255,255,0.8);
    font-weight:normal;
    text-transform:capitalize;
    margin:0;
}

h4{
    font-size:3.2em;
    font-family: 'Roboto Mono', monospace;
    color:rgba(255,255,255,0.8);
    font-weight:normal;
    text-transform:capitalize;
    margin:0;
}

h5{
    font-size:2.7em;
    font-family: 'Roboto Mono', monospace;
    color:rgba(255,255,255,0.8);
    font-weight:normal;
    text-transform:capitalize;
    margin:0;
}

h6{
    font-size:2.2em;
    font-family: 'Roboto Mono', monospace;
    color:rgba(255,255,255,0.8);
    font-weight:normal;
    text-transform:capitalize;
    margin:0;
}

p{
    font-size:1.8em;
    line-height:auto;
    color:rgba(255,255,255,0.8);
    font-weight:normal;
    font-family: 'Poppins', sans-serif;
}

button{
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
    cursor:pointer;
}
button:hover{
    background-color:rgba(0,3,36,0.6);
    transition:all 0.5s; 
}

.nav-links a:hover{
    color:rgb( 199,32,164);
}

body{
    display:flex;
    flex-wrap:wrap;
    background-image:linear-gradient(90deg, rgb( 199,32,164)-250%, rgb(0,6,38)125%);
    margin:0;
    font-size:1em;
    gap:4vh;
}

body >section{
    display:flex;
    flex-wrap:wrap;
    margin:0;
    gap:10vh;
}
/*nav bar*/
nav{
    display:flex;
    flex-wrap:wrap;
    flex-basis:100%;
    align-items:center;
    justify-content:space-between;
    height:fit-content;
    padding:1.6em 10.41vw;
    background-color:rgb(0,3,36);
    box-shadow:0 4px 6px rgba(0,3,36,0.8);
    position:sticky;
    top:0;
    z-index:100;
}
nav > div{
    height:fit-content;
}


.logo > h4{
    text-transform:uppercase;
    color:rgb(255,255,255);
}
.logo >h4 > span{
    color:rgb(199,32,164);
}

.nav-links{
    display:flex;
    flex:1;
    justify-content:space-between;
    align-items:center;
}

.nav-links > div {
    display:flex;
    flex:1;
    flex-wrap:wrap;
    gap:0.9em;
}

.nav-links  a{
    display:block;
    text-decoration:none;
    font-size:1.8rem;
    font-weight:500;
    font-family: 'Roboto Mono', monospace;
    text-transform:uppercase;
    color:rgba(255,255,255,0.8); 
    padding:0.99em;
}
nav > div > button{
    height:fit-content;
    width:fit-content;
    font-size:1.8em;
    padding:0.8rem 2.4rem;
    color:rgba(255,255,255,1);
    background-color:rgb(199,32,164);
    border-radius:2.0em;
    border:1px solid rgb(255,82,219);
}
nav > div > button > h6 {
    color:rgba(255,255,255,1);
    font-family: 'Poppins', sans-serif; 
}


.menu-button{
    display:none;
    width:40px;
    margin:auto;
    margin-right:0;
    margin-left:16px;
}
.menu-button > div{
    flex-basis:100%;
    width:100%;
    height:4px;
    margin:8px 0;
    border-radius:4px;
    background:rgb(199,32,164);
    transition: 0.5s all;
}

.menu-active div:first-child{
    transform:translate(0, 12px) rotate(45deg);
    transition: 0.5s all;
}
.menu-active div:last-child{
    transform:translate(0, -12px) rotate(-45deg);
    transition: 0.5s all;
}
.menu-active div:nth-child(2){
    opacity:0;
    transition: 0.5s all;
}


/*header section*/
header{
    display:block;
    flex-basis:100%;
    margin: 0;
    padding: 0 10.41vw;
    max-width:100%;
}

/*header hero-text*/
.hero-text{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    width:100%;
    gap:16px;

}

.hero-text> div:first-child{
    flex-basis:calc(100% - 60% - 16px);
    flex-shrink:0;
    width:100%;
    overflow:hidden;
    
}
.hero-text .text{
    position:relative;
    left:0;
    animation:heroText 2s;
}
@keyframes heroText{
    from{
        left:-50%;
        opacity:0;
    }
    to{
        left:0;
        opacity:1;
    }
}

.hero-text text > h2 > span{
    color:rgb(199,32,164);
}
.hero-text text > h2 {
    color:rgba(255,255,255,1);
    margin:4vh 0;
}
.hero-text text > p {
    margin:4vh 0;
    color:rgba(255,255,255,0.8);
}

.hero-img{
    flex-basis:60%;
    width:100%;
    aspect-ratio:1/0.8;
    margin-right:0;
    flex-shrink:0;
    flex-grow:0;
    position:relative;
    overflow:hidden;
}
.hero-img > img{ 
    position:absolute;
    width:100%;
    top:0;
    animation:hero-img 2s;
}
@keyframes hero-img{
    from{
        transform:scale(90%);
        opacity:0;
    }
    to{
        transform:scale(100%);
        opacity:1;
    }
}

/*HERO SECTION buttons*/
.hero-buttons{
    margin:4vh 0;
}

.hero-buttons > .button-outline{
    height:fit-content;
    width:fit-content;
    padding:0.8em 1.6em;
    margin: auto 0 auto auto;
    background-color:unset;
    border-radius:2.0em;
    color:rgba(255,255,255,1);
    border:1px solid rgb(255,82,219); 
    margin-left:3vw;
    font-size:1.8em;
    font-family: 'Poppins', sans-serif;   
}


.hero-buttons  .button-filled{
    height:fit-content;
    width:fit-content;
    font-size:1.8em;
    font-family: 'Poppins', sans-serif;   
    padding:0.8em 1.6em;
    margin: auto 0 auto auto;
    color:rgba(255,255,255,1);
    background-color:rgb(199,32,164);
    border-radius:2.0em;
    border:1px solid rgb(255,82,219); 
}

.button-filled:hover{
    background-color:rgba(0,3,36,0.6);
    transition:all 0.5s; 
}

.fi-rr-arrow-up-right{
    margin: auto 0 auto 8px;
    font-size:1.2rem;
}

/*header hero-stats*/
.hero-stats{
    display:grid;
    grid-template-columns:auto auto auto auto;
    width:inherit;
    gap:4vw;
    justify-content:center;
    margin:0;
}
.hero-stats div{
    display:inline-block;
    margin:0;
}
.hero-stats div h3{
    text-align:center;
    color:rgba(255,255,255,0.8);
}
.hero-stats div h6{
    text-align:center;
    color:rgba(255,255,255,0.6);
}


/* minted NFTs sections */
.minted-NFTs{
    flex-basis:100%;
    margin: 0;
    padding: 0 10.41vw;
}

.minted-NFTs > h2{
    text-align:center;
    margin-bottom:4vh;
    color:rgba(255,255,255,1);
}

.minted-NFTs > p{
    margin:0 auto 10vh auto;
    max-width:40vw;
    text-align:center;
    color:rgba(255,255,255,0.8);
}
.NFT-cards{
    display: grid;
    grid-template-rows:auto auto auto;
    grid-template-columns:auto auto auto;
    grid-column-gap:4vw;
    grid-row-gap:10vh;
    position:relative;
}

/* minted NFTs cards stlying */

.NFT-cards > div{
    visibility:hidden;
    width:100%;
    height:fit-content; 
    padding:8px;
    background-color:rgb(255,192,135);
    border-radius:4px;
    position:relative;
    box-shadow: 0 0 8px rgb(255,192,135,0.6);
}
.visible-card{
    visibility:visible !important;
    animation: present 1s;
}

/*animation for NFT-cards*/
@keyframes present{
    from{
        left:-50%;
        opacity:0;
    }
    to{
        left:0;
        opacity:1;
    }
}


.card-pic{
    width:35%;
    height:110%;
    background-image:url('assets/ape-gel.jpg');
    background-size:cover;
    background-position:center center;
    position:absolute;
    bottom:8px;
    border-radius:4px;
    border:4px solid rgb(255,192,135);
}
.dets{
    display:flex;
    flex-wrap:wrap;
    width:calc(60% - 8px);
    right:8px;
    top:8px;
    margin:8px;
    margin-left:40%;
}

.dets > div:nth-child(1){
    display:flex;
    flex-basis:100%;
    flex-grow:0;
    flex-shrink:0;
}

.dets > div:nth-child(1) >  div:nth-child(1){
    flex-basis:45%;
    flex-grow:0;
}

.dets >div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    display:block;
    font-size:1.8em;
    color:rgba(0,0,0,1);
    margin:auto 0;
    margin-bottom:4px;
    max-width:fit-content;
}
.dets > div:nth-child(1) >  div:nth-child(1) > p:nth-child(2){
    display:block;
    font-size:1.4em;
    color:rgba(0,0,0,0.8);
    margin:auto 0;
    margin-bottom:4px;
    max-width:fit-content;
}

.dets > div:nth-child(1) > div:nth-child(1) > p:nth-child(3){
    display:block;
    font-size:1.0em;
    color:rgba(0,0,0,1);
    margin:auto 0;
    margin-bottom:4px;
    max-width:fit-content;
}

.dets > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    display:block;
    font-size:1.4em;
    color:rgba(0,0,0,1);
    margin:auto 0;
    margin-bottom:4px;
    max-width:fit-content;
}

.dets > div:nth-child(1) > .divide{
    flex-basis:5%;
    height:100%;
    max-width:1px;
    background-color:rgba(0,0,0,0.3);
    margin:auto;
    border-radius:2px;
}

.dets > div:nth-child(1) > div:nth-child(3){
    flex-basis:45%;
    flex-grow:0;
}

.dets > div:nth-child(1) > div:nth-child(3) > p{
    display:block;
    font-size:1.0em;
    color:rgba(0,0,0,1);
    margin:auto 0;
    margin-bottom:4px;
    max-width:fit-content;
}


.dets > div:nth-child(1) > div:nth-child(3) > div{
    display:flex;
    flex-wrap:wrap;
    width:100%;
}

.dets > div:nth-child(1) > div:nth-child(3) > div >  div > p:nth-child(1) {
    display:block;
    font-size:1.4em;
    color:rgba(0,0,0,0.8);
    margin:auto;
    max-width:fit-content;
}

.dets > div:nth-child(1) > div:nth-child(3) > div > div > p:nth-child(2) {
    display:block;
    font-size:1.0em;
    color:rgba(0,0,0,1);
    margin:auto;
    max-width:fit-content;
}

.dets > div:nth-child(1) > div:nth-child(3) > div > .divide{
    height:1.0em;
    width:1px;
    background-color:rgba(0,0,0,0.3);
    margin:auto;
    border-radius:2px;
}

.dets >.bid-button{
    flex-basis:100%;
}

.bid-button  button{
    display:flex;
    align-items:center;
    height:fit-content;
    width:fit-content;
    padding:0.4rem 0.8rem;
    margin: auto;
    margin-right:0;
    margin-top:0.8rem;
    color:rgba(255,255,255,1);
    background-color:rgb(199,32,164);
    border-radius:20px;
    border:1px solid rgb(255,82,219); 
    cursor:pointer;    
}

.bid-button > button > p{
    display:inline-block;
    font-size:1.4rem;
    line-height:1.4rem;
    font-family: 'Poppins', sans-serif;
    color:rgba(255,255,255,1);
    margin:0;
}
.bid-button > button > .fi-rr-arrow-up-right{
    display:flex;
    align-items:center;
    font-size:1.0rem;
    color:rgba(255,255,255,1);
}

/*nft-cards pic styling */

.NFT-cards > div:nth-child(2)>.card-pic{
    background-image:url('assets/bored-ape-1.png');
    background-size:cover;
    background-position:center center;
    border:4px solid rgb(166,157,167);
}
.NFT-cards > div:nth-child(2){
    background-color:rgb(166,157,167);
    box-shadow: 0 0 16px rgb(166,157,167,0.6);   
}

.NFT-cards > div:nth-child(3)>.card-pic{
    background-image:url('assets/bored-ape-2.jpg');
    background-size:cover;
    background-position:center center;
    border:4px solid rgb(105,242,204);
}
.NFT-cards > div:nth-child(3){
    background-color:rgb(105,242,204);
    box-shadow: 0 0 8px rgb(105,242,204,0.3);   
}

.NFT-cards > div:nth-child(4)>.card-pic{
    background-image:url('assets/galaxy.png');
    background-size:cover;
    background-position:center center;
    border:4px solid rgb(255,170,215);
}
.NFT-cards > div:nth-child(4){
    background-color:rgb(255,170,215);  
    box-shadow: 0 0 8px rgb(255,170,215,0.6); 
}

.NFT-cards > div:nth-child(5)>.card-pic{
    background-image:url('assets/NFT-digital-art.jpg');
    background-size:cover;
    background-position:center center;
    border:4px solid rgb(185,177,255);
}
.NFT-cards > div:nth-child(5){
    background-color:rgb(185,177,255); 
    box-shadow: 0 0 8px rgb(185,177,255,0.6); 
}

.NFT-cards > div:nth-child(6)>.card-pic{
    background-image:url('assets/im-492408.jfif');
    background-size:cover;
    background-position:center center;
    border:4px solid rgb(255,206,230);
}
.NFT-cards > div:nth-child(6){
    background-color:rgb(255,206,230);
    box-shadow: 0 0 8px rgb(255,206,230,0.6);   
}

/*roadmap section*/
.roadmap{
    flex-basis:100%;
    margin: 0;
    padding: 0 10.41vw;
}

.roadmap > h2{
    text-align:center;
    margin-bottom:4vh;
    color:rgba(255,255,255,1);
}

.roadmap > p{
    margin:0 auto 4vh auto;
    max-width:40vw;
    text-align:center;
    color:rgba(255,255,255,0.8);
}

.roadmap > div{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    align-content:center;
    position:relative;
}

/*roadmap-highlights*/

.roadmap-highlights{
    flex-basis:70%;
    flex-grow:0;
    flex-shrink:0;
    display:grid;
    grid-template-rows:auto auto;
    grid-template-columns:auto auto;
    grid-column-gap: 4.0em;
    grid-row-gap: 4.0em;
    margin:0;
    position:relative;
    visibility:hidden;
}
/*active roadmap image*/
.rm-highlights-active{
    visibility:visible !important;
    opacity:1;
    animation: roadmapi 1s;
}
/*roadmap img animation*/
@keyframes roadmapi {
    from{
        left:-50%;
        opacity:0;
    }
    to{
        left:0;
        opacity:1;
    }
}


.roadmap-highlights > .box{
    height:fit-content;
    position:relative;
    padding: 1.6em 3.2em;
    border-left:4px dashed rgb(199,32,164);
}

.roadmap-highlights > .box > h6:nth-child(1){
    font-weight:bold;
    display:inline-block;
    padding:0.8em;
    border-radius:100%;
    background-color:rgb(199,32,164);
    position:absolute;
    top:0;
    left:0;
    transform:translatex(-55%);
}

.roadmap-highlights > .box > h6:nth-child(2){
    font-weight:bold; 
    color:rgba(255,255,255,0.8);   
}

.roadmap-highlights > .box > p{
    color:rgba(255,255,255,0.6); 
}

.roadmap > div > div:not(.roadmap-highlights){
    flex-basis:30%;
    flex-grow:0;
    flex-shrink:0;
}

.roadmap > div > div:nth-child(2){
    flex-basis:30%;
    height:fit-content;
    margin:auto;
    position:relative;
    overflow:hidden;

}

.roadmap > div > div > img{
    display:block;
    max-width:100%;
    margin:auto;
    margin-left:auto;
    margin-right:0;
    position:relative;
    visibility:hidden;
}

/*active roadmap image*/
.rm-img-active{
    visibility:visible !important;
    animation: roadimg 1s !important;
}
/*roadmap img animation*/
@keyframes roadimg {
    from{
        right: -50%;
        opacity:0;
    }
    to{
        right:0;
        opacity:1;
    }
}




/*partners*/

.partners{
    flex-basis:100%;
    margin: 0;
    padding: 0 10.41vw;
}

.partners > h2{
    text-align:center;
    margin-bottom:4vh;
    color:rgba(255,255,255,1); 
}

.partners > p{
    margin:0 auto 4vh auto;
    max-width:40vw;
    text-align:center;
    color:rgba(255,255,255,0.8); 
}

/*footer*/
footer{   
    display:block;
    flex-basis: 100%;
    padding:3.2em 10.41vw;
    background-color:rgb(0,3,36);
}

.footer-main{
    display:flex;
    flex-wrap:wrap;
    width:100%;   
    justify-content:space-between;
}

.footer-text{
    flex-basis:100%;
    padding:1.8em;
}

.footer-text > .logo{
    margin-bottom:2.4em;
}

.footer-text > .logo > h5{
    color:rgba(255,255,255,1);    
}

.footer-text > .logo > h5 > span{
    text-transform:uppercase;
    color:rgb( 199,32,164);
}
.footer-text > p{
    color:rgba(255,255,255,0.8);  
}
.footer-links{
    display:flex;
    flex-wrap:wrap;
    flex-basis:100%;
    gap:1.8em;
    justify-content:space-between;
}

.footer-links > div > h6{
    color:rgba(255,255,255,1);  
    padding:0.9em; 
    width:fit-content;
}

.footer-links  a{
    display:block;
    text-decoration:none;
    font-size:1.8rem;
    font-family: 'Roboto Mono', monospace;
    text-transform:uppercase;
    padding:0.9em;
    margin: 0;
    color:rgba(255,255,255,0.8); 
}
.footer-links > div:last-child{
    display:block;
}

.copy{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    margin:4.8em auto 0 0;
    gap:2.4em;  
    justify-content:center;
}

.copy > p{
    display:inline-block; 
    font-size: 1.4em;
    text-transform:capitalize;
    color:rgba(255,255,255,1); 
}



@media (max-width:1240px){
    HTML{
        font-size:55.55%;
    }
}


@media (max-width:1200px){
    
    .menu-button{
        display:inline-block;
        flex-basis:auto;
    }
    .nav-links{
        display:none;
    }
    .nav-links-small{
        display:block;
        position:absolute;
        top:100%;
        right:0;
        width:min-content;
        padding:1.8em;
        padding-right:calc(10.41vw - 1.8em);
        background-color:rgb(0,3,36);
        border-bottom-left-radius: 4px;
    }
    .nav-links-small::before{
        content:'';
        background-image:linear-gradient(-45deg, rgb(0,3,36)0% , rgb(199,32,164));
        position:absolute;
        top:0;
        bottom:-0.9em;
        right:0;
        left:-0.9em;
        z-index:-1;
        border-bottom-left-radius:4px;
        opacity:0.8;
    }

    .nav-links-small a{
        flex-basis:100%;
        max-width:100%;
    }
    .nav-links-small > button{
        margin:1.6em auto;
        width:100%;
    }



    .hero-text > div{
        flex-basis:100%;
    }
    .hero-text > div:first-child{
        order:2;
        text-align:center;
        flex-basis:100%;
    }


    .NFT-cards{
        display: grid;
        grid-template-columns:auto auto;
        gap:4vw;
    }


    .footer-links{
        height:fit-content;
        width:fit-content;
        gap:0.9em;
        position:relative;
        overflow:hidden;
    }

    .footer-links > div{
        flex-basis:100%;
        display:block;
    }

    .footer-links > div > ul{
        display:none;
        position: absolute;
        right:0;
        top:0;
        padding:1.8em;
        border-radius:4px;
        background-color:rgba(199,32,164, 0.1);
        grid-template-columns:auto;
        gap:0.9em;
    }
    .footer-links > div > h6:hover{
        color:rgba( 199,32,164,1);
        cursor:pointer;
    } 
    /*footer links activation class*/
    .ul-active{
        display:grid !important;
        animation: slideIn 0.75s;
    }
    /*footer links activation class animation*/
    @keyframes slideIn{
        from{
            right:-20%;
            opacity:0;
        }
        to{
            right:0;
            opacity:1;
        }
    }
}


@media (max-width:860px){

    .minted-NFTs > p{
        max-width:100%;
    }

    .roadmap > div{
        gap:4vh;
    }
    .roadmap > p{
        max-width:100%;
    }

    .roadmap > div > div {
        flex-basis:100%;
    }
    .roadmap-highlights{
        order:2;
    }
    .partners > p{
        max-width:100%;
    }

    .footer-text{
        flex-basis:100%;
    }

    .footer-links{
        flex-basis:100%;
    }

}

@media(max-width:720px){
    .NFT-cards{
        grid-template-columns:auto;
    }  
    .hero-stats{
        grid-template-columns:auto auto;
    }
    .NFT-cards{
        grid-row-gap:10vh;
    }
}


@media (max-width:576px){
    body{
        gap:2.5vh;
       } 
    .roadmap-highlights{
        grid-template-columns:auto;
        grid-column-gap: 2.4em;
        grid-row-gap: 2.4em;
        
    }

    .foot-main{
        gap:2.4em;
    }

    .footer-text{
        flex-basis:100%;
    }

    .footer-links{
        flex-basis:100%;
    }

    .footer-links > div{
        flex-basis:100%;
    }

    .hero-stats{
        grid-template-columns:auto auto;
    }

    .footer-links > div > ul{
        grid-template-columns:auto;
    }
    .footer-text > .logo{
        margin-bottom:1.8em;
    }
    
}

@media(max-width:420px){
    HTML{
        font-size:48.61%;
    } 
    .footer-links > div{
        flex-basis:100%;
        display:block;
        position:relative;
    }
    
    .footer-links > div> ul{
        position:unset;
        grid-template-columns:auto;
        gap:0.9em;

    }
    .copy{
        margin-top:2.4em;
    }
}
@media(max-width:320px){
    HTML{
        font-size:41.67%;
    } 
}


